<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 style="display: flex; justify-content: space-around; ;">Andrew's Sports Betting</h1>
    <div style="display: flex; justify-content:center;">  
        <input class="round" style="text-align: center; justify-content: center; margin-left: 10px; margin-right: 10px; "text" placeholder="User name">
        <br>
        <input class="round" style="text-align: center; justify-content: center; margin-left: 10px; margin-right: 10px;"text" placeholder="Password">
        <button class="round" onclick="alert('Bet the house!!')"> Submit </button>
    </div>
</body>
</html>